<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FYP</title>
    <style type="text/css" media="screen">
      #editor {
       height: 200px;
      }
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }
      .well {
        margin: 30px 0;
      }
    </style> 
   
  </head>

  <body>

  <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/showDashboard">Dasboard</a></li>
       <li role="presentation"><a href="/userHome">Home</a></li>
      <li role="presentation" class="active"><a href="#">Add Item</a></li>
            <li role="presentation" ><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Final Year Project</h3>
      </div>

<div class="well">
      <form role="form" method="post" action="/addFile">
        <legend>Add File</legend>
       
      <div class="field">
        <input type="text" name="filename" class="form-control" id="filename" placeholder="Filename">
      </div>
       <div class="form-group">
        <label for="editor"></label>
       <div class="form-control" id="editor" name="inputDescription">#!/usr/local/bin/python
        </div>
      </div>
        <div class="form-group">
          <label>Mark this as private and not visible to others.</label><br/>
          <input name="private" type="checkbox"> Mark as Private <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
     </div>

      <div class="field">
        <button class="btn btn-primary" type="submit">Save</button>
        <div id="messages"></div>
      </div>
    </form>
      </div>

    <script src="../ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/clouds");
    editor.getSession().setMode("ace/mode/python");
</script>
      

     

    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
   
    
    <script src="../static/js/jquery-3.3.1.js"></script>

  <script src="../static/js/jquery.ui.widget.js"></script>
  </body>
</html>