<li class="list-group-item">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=current_user.username) }}">
                </a>
            </td>
            <td>
                <a data-id={{file.id}} onclick="View(this)" >
                   File: {{ file.title }}   Version Number: {{ file.version }}   Date: {{ file.timestamp }}
                </a>
                {% if current_user.username==current_user.username %}
                    <div class="pull-right action-buttons">
                    <a data-id={{file.id}} onclick="Edit(this)" ><span class="glyphicon glyphicon-pencil"></span></a>
                    <a data-id={{file.id}} onclick="ConfirmDelete(this)" ><span class="glyphicon glyphicon-trash"></span></a>
                    <a data-id={{file.id}} onclick="Versions(this)" ><span class="glyphicon glyphicon-list"></span></a>
                     </div>
                {% else %}                  
                
                {% endif %}
            </td>
        </tr>
</li>
