    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=file.author.username) }}">
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=file.author.username) }}">
                    {{ file.author.username }}
                </a>
                
                <br>
                {{ file.title }}
                <div class="pull-right action-buttons">
                <a data-id=${Id} onclick="Edit(this)" ><span class="glyphicon glyphicon-pencil"></span></a>
                <a data-id=${Id} onclick="ConfirmDelete(this)" ><span class="glyphicon glyphicon-trash"></span></a>
            </div>
            </td>
        </tr>
    </table>
