{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Dashboard</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
<style type="text/css" media="screen">
      #editor {
       height: 200px;
      }
      
</style> 
<script>
    function View(elem){
        localStorage.setItem('viewId',$(elem).attr('data-id'));
        $.ajax({
            url : '/getFile',
            data : {id:$(elem).attr('data-id')},
            type : 'POST',
            success: function(res){
                
               var data = jQuery.parseJSON(JSON.stringify(res));
               console.log(data);
               document.getElementById('viewTitle').value = data.Title;
               editor.setValue(data.Code);
                $('#viewModal').modal();
                
                                
            },
            error: function(error){
                console.log(error);
            }
        });
    }
  function ConfirmSave(lem){
  //localStorage.setItem('saveId',$(lem).attr('data-id'));
    $('#saveModal').modal();
  }

  function Save(){
    $.ajax({
      url : '/saveFile',
      data : {id:localStorage.getItem('viewId')},
      type : 'POST',
      success: function(res){
        var result = jQuery.parseJSON(JSON.stringify(res))
        if(result.status == 'OK'){
          $('#saveModal').modal('hide');
          $('#viewModal').modal('hide');
          window.location.reload();
        }
        else{
          alert(result.status); 
          $('#saveModal').modal('hide');
          $('#viewModal').modal('hide');
          window.location.reload();
        }
      },
      error: function(error){
        console.log(error);
      }
    });
  }
</script>
    {% for file in files %}
        {% include 'files.html' %}
    {% endfor %}

<nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
 <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="viewModalLabel">View File</h4>
        </div>
        <div class="modal-body">
          <form role="form">
      <div class="field">
        <input type="text" name="filename" class="form-control" id="viewTitle" disabled>
      </div>
      <br>

       <div id="editor" name="editorCode "></div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="ConfirmSave()">Save</button>
      </div>
    </div>
</div>

<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="text-align:center;">
            <h4 class="modal-title" style="color:red;" id="saveModalLabel">Confirm Save</h4>
          </div>
         
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="Save()">Save</button>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
<script type="text/javascript">
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/clouds");
    editor.getSession().setMode("ace/mode/python");
    editor.setReadOnly(true);
   

</script>
<script src="../static/js/jquery-3.3.1.js"></script>

<script src="../static/js/jquery.ui.widget.js"></script>
{% endblock %}