<li class="list-group-item">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=file.author.username) }}">
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=file.author.username) }}">
                    {{ file.author.username }}
                </a>
                
                <br>
                File: {{ file.title }}
                Version Number: {{ file.version }}   
                Date: {{ file.timestamp }}

                <div class="pull-right action-buttons">
                <a data-id={{file.id}} onclick="View(this)" ><span class="glyphicon glyphicon-eye-open"></span></a>
 
                </div>
            </td>
        </tr>
</li>
